@import './variables';

@mixin centered($column: false) {
	display: flex;
	align-items: center;
	justify-content: center;

	@if($column) {
		flex-direction: column;
	}
}

@mixin expanded {
	height: 100%;
	width: 100%;
}

@mixin square($size: $grid-base-2x) {
	height: $size;
	width: $size;
}

@mixin circle($size: $grid-base-2x) {
	@include square($size);
	border-radius: 50%;
}

@mixin initial-state-fade-in-up($translate-y: 40px) {
	opacity: 0 !important;
	transform: translateY($translate-y);
}

@mixin text-ellipsis {
	overflow: hidden;
	white-space: pre;
	text-overflow: ellipsis;
}

@mixin path-fill($color) {
	path:not([fill='none']) {
		fill: $color;
	}
}

@mixin path-stroke($stroke) {
	path:not([fill='none']) {
		stroke: $stroke;
	}
}

@mixin common-button-styles {
	border: none;
	padding: $grid-base-2x $grid-base-4x;
	font-size: $font-normal-1;
	border-radius: $border-radius-standard;
	letter-spacing: 0.5px;
	transition: background-color $animation-standard, color $animation-standard;
}

@mixin button-primary {
	@include common-button-styles;
	color: white;
	background-color: $support-cool-standard;

	&:hover {
		background-color: $support-cool-dark-2;
	}
}

@mixin button-secondary {
	@include common-button-styles;
	color: $support-warm-dark-1;
	background-color: $support-warm-light-4;

	&:hover {
		background-color: $support-warm-light-3;
	}
}

@mixin background-primary {
	color: white;
	background: linear-gradient(30deg, $support-cool-light-2, $support-cool-standard 50%);
	background-position-x: 0;
	background-size: 200% 100%;
	transition: background-position-x $animation-standard;

	&:hover {
		background-position-x: 100%;
	}
}

@mixin bordered-button {
	font-family: 'Lato', sans-serif;
	font-size: $font-small-1;
	font-weight: $weight-heavy;
	width: fit-content;
	padding: $grid-base $grid-base-2x;
	border-radius: $border-radius-standard;
	color: $support-cool-dark-4;
	border: 1px solid;
	text-transform: uppercase;
	transition: background-color $quick-ease-out, transform $quick-ease-out;
	text-decoration: none;
	background-color: white;
	line-height: 1;

	&:not(a) {
		cursor: default;
	}

	&:hover {
		background-color: $support-cool-light-5;
	}

	&:active {
		transform: scale(0.95);
	}

	&[disabled] {
		filter: grayscale(1);
	}
}
